$red-boost: rgb(238,65,55);

@keyframes solicitar-demo {
	from {background-color:transparent; color:$red-boost};
	to {background-color:$red-boost; color:white};
} 

@keyframes delay-navegador {
	from {color:white};
	to {color:$red-boost}
}

* {
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
}

#home { 
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(Home2.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div h1 {
  	color:white;
  	font-size: 3em;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	text-align:center;
  }
  div h3 {
  	color:white;
  	font-weight: 300;
  	font-style:italic;
  	text-align:center;
  }
}

#navbar {
	background: none;
	border:none;
	padding:50px;
	ul {
		li a{
			padding:10px 30px;
			background-color:transparent;
			color:white;
			&:hover {
				color:$red-boost;
				animation-name: delay-navegador;
				animation-duration:0.4s;
			}
			&#solicitar-demo {
				border:$red-boost 1px solid;
				border-radius: 5px;
				color:$red-boost;
				&:hover {
					animation-name: solicitar-demo;
					animation-duration:0.4s;
					animation-fill-mode: forwards;
				}
			}
		}
	}
	div div a #hamburguer {
		background-color:gray !important;
	}
}

#logo-boost {
	width:140px;
} 

/* Sección Soluciones */

#seccion-soluciones {
	height:80vh;
	display:flex;
	justify-content:space-around;
	flex-direction:column;
	align-content:center;
	div {
		text-align: center;
		h1 {
		margin:auto;
		color:rgb(90,90,90);
		margin-top: 20px;
		}
	}	
	.separador-soluciones {
		display:flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap:wrap;
		height: 70%;
		.solucion {
			border: 1px rgb(235,235,235) solid;
			border-radius:5px;
			width: 15%;
			height:80%;
			min-width: 225px;
			min-height: 225px;
			margin: 30px;
			padding:30px;
			background:rgb(242,242,242);
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			/*align-content:center;*/
			align-items:center;
			text-align: center;
			transition: all 0.2s;
			.logo-solucion{
				width: 180px;
			}
			&:hover {
				background:rgb(230,230,230);
				border: rgb(210,210,210);
				-webkit-box-shadow: 0px 0px 10px 0px rgba(100,100,100,1);
				-moz-box-shadow: 0px 0px 10px 0px rgba(100,100,100,1);
				box-shadow: 0px 0px 10px 0px rgba(100,100,100,1);
			}
		}
	}
}






